<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="icon-paper-clip"></i> All Projects
          <div class="col-2 pull-right">
            <button
              class="btn btn-sm btn-primary float-right"
              type="button"
              (click)="navAddProject()"
            >
              <i class="icon-plus"></i> Add Project
            </button>
          </div>
          <br />
          <hr />
          <div class="row">
            <div class="col-lg-2">
              <input
                type="text"
                placeholder="quick search here.."
                name="search_text"
              />
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-lg-2">
              <select class="form-control" name="search_title">
                <option value="0">Select Title</option>
                <option
                  value="{{ indvalue.projectId }}"
                  *ngFor="let indvalue of projectList"
                  >{{ indvalue.title }}</option
                >
              </select>
            </div>
            <div class="col-lg-2">
              <select class="form-control" name="search_vendor">
                <option value="0">Select Vendor</option>
                <option
                  value="{{ eachVal.vendorId }}"
                  *ngFor="let eachVal of vendorList"
                  >{{ eachVal.name }}</option
                >
              </select>
            </div>

            <div class="col-mlg-2">
              <select class="form-control" name="search_type">
                <option value="0">Select Type</option>
                <option
                  value="{{ eachVal.vendorId }}"
                  *ngFor="let eachVal of vendorList"
                  >{{ eachVal.name }}</option
                >
              </select>
            </div>
            <div class="col-lg-2">
              <select class="form-control" name="search_status">
                <option value="0">Select Status</option>
                <option
                  value="{{ eachVal.vendorId }}"
                  *ngFor="let eachVal of vendorList"
                  >{{ eachVal.name }}</option
                >
              </select>
            </div>
            <div class="col-lg-2">
              <input
                type="date"
                class="form-control"
                name="search_start_date"
              />
            </div>
            <div class="col-lg-2">
              <button class="btn btn-sml btn-success" type="button">
                <i class="fa fa-search"></i> Search
              </button>
            </div>
          </div>
        </div> -->
          <div class="card-body table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Project Name</th>
                  <th>Vendor</th>
                  <th>LOB</th>
                  <th>Type</th>
                  <th>Rate</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indvalue of projectList; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ indvalue.title }}</td>
                  <td>{{ indvalue.vendors }}</td>
                  <td>{{ indvalue.lineOfBusiness }}</td>
                  <td>{{ indvalue.projectType }}</td>
                  <td>{{ indvalue.budget }}</td>
                  <td>{{ indvalue.startDate }}</td>
                  <td>{{ indvalue.endDate }}</td>
                  <td>{{ indvalue.projectStatus }}</td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
